<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="SearchZip.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <SearchZip.Properties.Settings>
            <setting name="DIR" serializeAs="String">
                <value />
            </setting>
            <setting name="FILE_NAME" serializeAs="String">
                <value />
            </setting>
            <setting name="FILTER_ZIP" serializeAs="String">
                <value />
            </setting>
            <setting name="FILTER_FILE" serializeAs="String">
                <value />
            </setting>
            <setting name="main_loc" serializeAs="String">
                <value>0, 0</value>
            </setting>
            <setting name="main_size" serializeAs="String">
                <value>967, 419</value>
            </setting>
            <setting name="lv_column_width" serializeAs="Xml">
                <value>
                    <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
                        xmlns:xsd="http://www.w3.org/2001/XMLSchema">
                        <string>200</string>
                        <string>200</string>
                    </ArrayOfString>
                </value>
            </setting>
            <setting name="ZIP_NAME" serializeAs="String">
                <value>\.(zip|jar)$</value>
            </setting>
        </SearchZip.Properties.Settings>
    </userSettings>
</configuration>