<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="SearchJar.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
            <section name="SearchJAR.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <SearchJar.Properties.Settings>
            <setting name="DIR" serializeAs="String">
                <value />
            </setting>
            <setting name="CLASS_NAME" serializeAs="String">
                <value />
            </setting>
            <setting name="FILTER_JAR" serializeAs="String">
                <value />
            </setting>
            <setting name="FILTER_CLASS" serializeAs="String">
                <value />
            </setting>
            <setting name="main_loc" serializeAs="String">
                <value>0, 0</value>
            </setting>
            <setting name="main_size" serializeAs="String">
                <value>967, 419</value>
            </setting>
            <setting name="jar_width" serializeAs="String">
                <value>200</value>
            </setting>
            <setting name="class_width" serializeAs="String">
                <value>200</value>
            </setting>
        </SearchJar.Properties.Settings>
        <SearchJAR.Properties.Settings>
            <setting name="DIR" serializeAs="String">
                <value />
            </setting>
            <setting name="CLASS_NAME" serializeAs="String">
                <value />
            </setting>
            <setting name="FILTER_JAR" serializeAs="String">
                <value />
            </setting>
            <setting name="FILTER_CLASS" serializeAs="String">
                <value />
            </setting>
            <setting name="main_loc" serializeAs="String">
                <value>0, 0</value>
            </setting>
            <setting name="main_size" serializeAs="String">
                <value>967, 419</value>
            </setting>
        </SearchJAR.Properties.Settings>
    </userSettings>
</configuration>